html {
    /*instructions -> values */
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body {
    /*body */
    color:#161616;
}
a {
    /* anchor */
    color:#161616;
}
.visually-hidden {
    /* elements class */
    display: none;
}
.card-category {
    /* elements class */
    color: #D73953;
}
.section-tagline {
    /* elements class */
    color: #D73953;
}