:root {
    /* CSS custom properties (variables) */
    --color-primary:    #d73953;
    --color-black:      #090909;
    --color-white:      #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey:  #353535;
    --text-color:       var(--color-black);
    /* font */
    --font-family-base: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    --font-family-title:"Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

html{
    /*instructions -> values */
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body{
    /*body */
    color: var(--text-color);
    font-family: var(--font-family-base);
}
a{
    /* anchor */
    color: var(--text-color);
}
.visually-hidden{
    /* elements class */
    display: none;
}
.card-category{
    /* elements class */
    color: var(--color-primary);
}
.section-tagline{
    /* elements class */
    color: var(--color-primary);
}
h1, h2, h3, h4, h5, h6{
    /* headings font */
    font-family: var(--font-family-title);
}